.molecule-display {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.molecule-display img {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0 auto;
}

.molecule-properties {
    font-size: 13px;
    color: #8A8A8A;
    font-weight:400;
    /* padding: 0px 0px 2px 0px; */

}

.selected-molecule-formula-header {
    padding: 10px;
    font-size: 14px;
    color: #131737;
    line-height: .5em;
    /* padding: 5px 0px 0px 10px; */
}